/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */
*{box-sizing: border-box;}
@import "foundation_and_overrides";

h1 {
	text-align:center;
}

nav {
	#product_search{
		input {
			display:inline;
		}
		#q_name_cont{
			width:200px;
		}
	}
	.button {
		margin:0px 15px;
	}
}

.product-wrapper {

	.product {
		border:1px solid black;
		display:inline-block;
		border-radius: 7px;
		background: #DDDDFF;
		text-align:center;
		margin: 5px;
		width:100%;
		height:100%;
		.image {
			height:150px;
		}
	}
}

.formtastic {
	width:450px;
	margin:0px auto;
	label {
		width: 150px;
		height: 25px;
	}

	select {
		width:330px;
	}
}