<section class="product">
	<h2><%= product.name %></h2>
	<p class="description"><%= product.description %></p>
	<p class="price">Price: <%= number_to_currency(product.price, :unit => "$") %></p> 
</section>