<ul>
<%= search_form_for @search, :url => search_path do |f| %>
  <li><%= f.text_field :name_cont, :placeholder => "Search Products" %></li>
  <li><%= f.select :subcategory_id_eq, options_from_collection_for_select(Subcategory.all, "id", "name", @search.subcategory_id_eq), { :include_blank => "" } %></li>

  </li><%= f.submit "search" %></li>
 <% end %>
</ul>